
xcodeRemoteDeviceFixer.xcodeproj/xcuserdata/evands.xcuserdatad/xcschemes/xcschememanagement.plist

xcodeRemoteDeviceFixer.xcodeproj/xcuserdata/evands.xcuserdatad/xcschemes/xcode3fixer.xcscheme

xcodeRemoteDeviceFixer.xcodeproj/project.xcworkspace/xcuserdata/evands.xcuserdatad/UserInterfaceState.xcuserstate

xcodeRemoteDeviceFixer.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store
